@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "tailwindcss";

@theme {
  --color-navbar: rgb(15, 23, 42 / 90);
  --color-border: rgba(255, 255, 255, 0.05);
  --color-menu: rgba(255, 255, 255, 0.04);
  --color-menu-hover: #27272a;
  --color-container-gray1: rgba(24, 24, 27, 0) / 56;
  --color-container-gray2: rgba(255, 255, 255, 0.05);
  --color-surface-brand: #4f46e5;

  --font-poppins: "Poppins";
  --font-urbanist: "Urbanist";
}

@layer components {
  .moving_arrow_button div span:nth-child(1)::before {
    position: relative;
    transition: 200ms;
    transform: translate(1rem, -1rem);
  }
  .moving_arrow_button:hover div span:nth-child(1) {
    position: relative;
    transition: 200ms;
    transform: translate(1.6rem, -1.6rem);
  }
  .moving_arrow_button div span:nth-child(2)::before {
    position: relative;
    transition: 200ms;
    transform: translate(1rem, -1rem);
  }
  .moving_arrow_button:hover div span:nth-child(2) {
    position: relative;
    transition: 200ms;
    transform: translate(1.8rem, -1.8rem);
  }
}

/* Apply this to the container with 'overflow-x-auto' */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* For IE and Edge */
.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
